*{
    margin: 0;
}

header {
    background-color: rgba(64, 221, 221, 0.575);
    width: 100%;
    height:270px;
    text-align: center;
}

.body {
    background-color: aqua;

}

.nav {
    background-color: gray;
     width:100%;
     height:100px;
     text-align: center;
}

.main {
    background-color:white;
    width:100%;
    height:calc(100vh - 200px);
    display: flex;
    justify-content: center;
    text-align: center;
}

.article {
background-color: rgb(163, 155, 155);
}

.section {
    background-color:rgb(255, 254, 254);
    width:100%;
    height:70%;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: auto;
    
}


.aside {
    background-color: rgb(255, 255, 255);
    width:25%;
    height:100%;
    margin-top: 10px;
}

.footer {
    background-color: gray;
    width:100%;
    height:100px;
    
}
ul {
   margin:0;
   padding:0;
   display: flex;
}

li {
    width: 100%;
    height: 80px;
border-style:double;
display:block;
float:left;
padding:0 10px;
text-align: center;
}
